# First examples of Series and Data Frames usings

In [12]:
import pandas as pd

In [13]:
ages = [22,13,8,33,25,44,38,22]

_Create a serie object from ages list, then print it_

In [14]:
age_serie = pd.Series(ages)
age_serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

_Using `head()`, print the first five records of `age_serie`_

In [15]:
age_serie.head()

0    22
1    13
2     8
3    33
4    25
dtype: int64

***Notice if we don't introduce an argument for head, python shows us the first five records**

_Now print the last three records of `age_serie`_

In [16]:
age_serie.tail(3)

5    44
6    38
7    22
dtype: int64

_Calculate mean, max and min of `age_serie`_

In [22]:
min__age = age_serie.min()
max_age = age_serie.max()
mean_age = age_serie.mean()
resume_age = [min__age,max_age,mean_age] 
print(f'min, max and average age is {resume_age}, respectivly')

min, max and average age is [np.int64(8), np.int64(44), np.float64(25.625)], respectivly

***Notice python returns us all three messures like `np.float64 or np.int64` since pandas delagates that job to numpy librarie**

_Get the second value of `age_serie`_

In [23]:
age_serie[1]

np.int64(13)

***Also we can use `get()`**

In [24]:
age_serie.get(1)

np.int64(13)

_Get the records have the value 22_

In [32]:
filter = age_serie == 22
filter

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [33]:
age_serie[filter]

0    22
7    22
dtype: int64