# First examples of Series and Data Frames usings

In [1]:
import pandas as pd

In [2]:
ages = [22,13,8,33,25,44,38,22]

_Create a serie object from ages list, then print it_

In [3]:
age_serie = pd.Series(ages)
age_serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

_Using `head()`, print the first five records of `age_serie`_

In [4]:
age_serie.head()

0    22
1    13
2     8
3    33
4    25
dtype: int64

***Notice if we don't introduce an argument for head, python shows us the first five records**

_Now print the last three records of `age_serie`_

In [5]:
age_serie.tail(3)

5    44
6    38
7    22
dtype: int64

_Calculate mean, max and min of `age_serie`_

In [6]:
min__age = age_serie.min()
max_age = age_serie.max()
mean_age = age_serie.mean()
resume_age = [min__age,max_age,mean_age] 
print(f'min, max and average age is {resume_age}, respectivly')

min, max and average age is [np.int64(8), np.int64(44), np.float64(25.625)], respectivly

***Notice python returns us all three messures like `np.float64 or np.int64` since pandas delagates that job to numpy librarie**

_Get the second value of `age_serie`_

In [7]:
age_serie[1]

np.int64(13)

***Also we can use `get()`**

In [8]:
age_serie.get(1)

np.int64(13)

_Get the records have the value 22_

In [9]:
filter = age_serie == 22
filter

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [10]:
age_serie[filter]

0    22
7    22
dtype: int64

_Take `ages2`, make a Serie and sum it with `ages_serie`, is there some difference regarding sum lists `ages` and `ages2`_

In [12]:
ages2 = [23,15,12,25,20,50,31,2]
age_serie2 = pd.Series(ages2)

In [14]:
age_serie + age_serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

In [15]:
ages + ages2

[22, 13, 8, 33, 25, 44, 38, 22, 23, 15, 12, 25, 20, 50, 31, 2]

_what happens if we have two series with different number of elements?_

In [18]:
age3 = [31]
age_serie3 = pd.Series(age3)
age_serie2 + age_serie3

0    54.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

***Notice to sum series is actually sum element by element, besides sum lists is create a new list with all the elements the previous lists have**

_First sort `age_serie2`, the sum it with `age_serie`_

In [19]:
age_serie2 = age_serie2.sort_index(ascending=False)
age_serie2

7     2
6    31
5    50
4    20
3    25
2    12
1    15
0    23
dtype: int64

In [20]:
age_serie + age_serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

***Notice the element by element sum is in function the index but isn't by the element relative position**

_Sume to `age_serie` five unids, also multiply original `age serie` by 2_

In [21]:
age_serie - 5

0    17
1     8
2     3
3    28
4    20
5    39
6    33
7    17
dtype: int64

In [23]:
age_serie * 2

0    44
1    26
2    16
3    66
4    50
5    88
6    76
7    44
dtype: int64

_First, define some function for calculate the second power of a `number`, then use `map()` for apply to some Serie_

In [ ]:
def sq(number):
    return number**2

In [ ]:
age_serie.map(sq)

0     484
1     169
2      64
3    1089
4     625
5    1936
6    1444
7     484
dtype: int64